/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Product - Alert's Cancel Button Alert */
.alert {
    display: none;
    position: fixed;
    z-index: 25;
    top: 43%;
    left: 41%;
    right: 41%;
    background: rgb(240, 240, 240);
    border: 1px solid rgb(175, 175, 175);
    box-shadow: 0 0 5px rgb(175, 175, 175);
    border-radius: 0.5rem;
    width: 18%;
}

@media (max-width: 1025px) {
    
    .alert {
        left: 25%;
        right: 25%;
        width: 50%;
    }

}

@media (max-width: 480px) {

    .alert {
        left: 4%;
        right: 4%;
        width: 92%;
    }

}

.alert.show {
    display: block;
}

.alert p {
    color: rgb(35, 35, 35);
    font-size: 0.5rem;
    font-weight: 550;
    padding: 0;
    margin: 0;
    text-align: center;
}

.alert p i {
    color: #4BB543;
    font-style: normal;
    font-size: 0.5rem;
    font-weight: 550;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Alert Overlay */
.alert-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(35, 35, 35, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 20;
}

.alert-overlay.show {
    display: block;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/