/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Local setting of BootStrap in Index Body */
.promotion-carousel.container-fluid {
    position: relative;
    top: 44px;
    width: 100%;
    max-width: 100vw;
}

.promotion-carousel .carousel {
    background: #F6AE56;
}

@media (max-width:1025px) {

    .promotion-carousel .carousel .carousel-inner.col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
