/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* CSS of Recommendation Box Container for Index */
.recommendation-box-container {
    top: 44px;
    position: relative;
    width: 97.7%;
    max-width: 100vw;
    padding: 0;
    margin: 2% auto;
}

@media (max-width: 767px) {

    .recommendation-box-container {
        margin: 4% auto;
    }

}

.recommendation-box-container .recommendation-box-row {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* CSS of Recommendation Box col for Index */
.recommendation-box-container .recommendation-box-row .recommendation-box.col-8 {
    width: 100%;
    height: 100%;
    background: rgb(252, 252, 252);
    border-radius: 1rem;
    box-shadow: 0 0 5px rgb(175, 175, 175);
    padding-bottom: 1%;
}

@media (max-width:1025px) {

    .recommendation-box-container .recommendation-box-row .recommendation-box.col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* CSS of Recommendation Box title for Index */
.recommendation-box-container .recommendation-box-row .recommendation-box.col-8 .recommendation-box-title {
    display: flex;
    position: relative;
    text-align: start;
}

.recommendation-box-container .recommendation-box-row .recommendation-box.col-8 .recommendation-box-title .personalized-recommendation {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(35, 35, 35);
    text-align: center;
    width: auto;
    margin: 1% 0 0 -0.5%;
    border-radius: 5px;
    padding: 1%;
}

@media (max-width:480px) {

    .recommendation-box-container .recommendation-box-row .recommendation-box.col-8 .recommendation-box-title .personalized-recommendation {
        font-size: 3%;
    }

}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* CSS of Recommendation Box title for Index */
.recommendation-box-container .recommendation-box-row .recommendation-box.col-8 .recommend-products-container {
    position: relative;
    width: 100%;
    padding: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/